<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('权益管理')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="benefit-form">
                <div class="select-list">
                    <ul>
                        <li>标题：<input type="text" name="title"/></li>
                        <li>
                            状态：
                            <select name="status">
                                <option value="">全部</option>
                                <option value="0">启用</option>
                                <option value="1">停用</option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="motorclub:benefit:add"><i class="fa fa-plus"></i> 新增</a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="motorclub:benefit:edit"><i class="fa fa-edit"></i> 编辑</a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="motorclub:benefit:remove"><i class="fa fa-remove"></i> 删除</a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var prefix = ctx + "motorclub/benefit";

    $(function() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            modalName: "权益",
            columns: [{
                checkbox: true
            },
            {
                field: 'benefitId',
                title: '编号'
            },
            {
                field: 'title',
                title: '标题'
            },
            {
                field: 'summary',
                title: '摘要'
            },
            {
                field: 'sort',
                title: '排序'
            },
            {
                field: 'status',
                title: '状态',
                formatter: function(value) {
                    return value === '0' ? '启用' : '停用';
                }
            }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>
